html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.stack-classes {
  flex-direction: row;
}

.search-bar {
  border: none;
  outline: none;
  width: 240px;
}
.styling {
  margin-right: 15rem;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  color: white;
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.category-btn:hover {
  background: red;
}
@media screen and (max-width: 600px) {
  .search-bar {
    width: 80px;
  }
  .react-player {
    height: 45vh !important;

    margin-top: 5px;
    margin-right: 10px;
    /* padding-right: 1000px; */
    /* border: 5px solid red; */
  }
  /* .width {
    width: "280px";
  } */

  .styling {
    margin-right: 0;
  }
}
@media screen and (max-width: 280px) {
  .search-bar {
    width: 70px;
    padding-top: 5px;

    padding-bottom: 5px;
    height: 10px;
    /* border: 1px solid red; */
  }
  .media {
    margin-right: 0;
    width: 200px;
    height: 250px;
  }
  .media1 {
    width: 100px;
    height: 150px;
  }
  .media2 {
    width: 100px;
    height: 100px;
  }
  /* .styling {
    margin-right: 0;
    width: 120px;
    height: 30px;
  } */
}

/* .search {
  margin-bottom: 20px;
  border: 1px solid red;
} */
::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
.textControl {
  text-decoration: none;
}

.text-control1 {
  text-decoration: none;
}

@media (min-width: 720px) and (max-width: 979px) {
  .media {
    width: "240px";
  }
}
/* @media (min-width: 290px) and (max-width: 710px) {
  .react1 {
    width: "70%";
  }
} */
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

/* .react-player {
  position: absolute;
  top: 0;
  left: 0;
} */
/* .react-player { */
/* width: 640px;
} */
